<div class= "container">
<div><p> <h2>Edit Product</h2></p></div>
<div> 
<% form_for @product, :url => product_path(@product)do |f| %>
<%= f.label 'Product Name:' %>
<%= f.text_field :product_name %>
<p>
<%= f.label 'Product Description:' %>
<%= f.text_area(:product_description, :size => '10x5')%>
</p>
<p>
<%= f.label 'Unit Price:' %>
<%= f.text_field :unit_price %>
</p>
<p>
<%= f.submit "Update" %>
</p>
<% end %>
</div>
</div>