<div class= "container">
<div><p>
<h3>All Products</h3>
</p>
</div>
<div>
<table class = "table table-hover">
<thead>
<tr>
	<th>Product Name</th>
	<th>Unit Price</th>
	<th>Action</th>
</tr>
</thead>
<tbody>
<% @products.each do |product| %>
<tr>
	<td><%= (product.product_name) %></td>
	<td><%= (product.unit_price) %></td>
	<td><%= link_to 'View', product_path(product.id) %> <%= link_to 'Edit', edit_product_path(product.id) %> <%= link_to "Remove", product_path(product),:method => :delete, class: 'remove' %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
