<h1>New Product</h1>
<% form_for @product do |f| %>
<p><%= f.error_messages %></p>
<p>
	<%= f.label 'Product Name' %>
	<%= f.text_field :product_name %>
</p>
<p>
	<%= f.label 'Product Description' %>
	<%= f.text_area(:product_description, :size => '50x10')  %>
</p>
<p>
	<%= f.label 'Unit Price' %>
	<%= f.text_field :unit_price %>
</p>
<p>
	<%= f.submit 'Create Product' %>
</p>
<% end %>

