<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"> <head>
<title>Invoice Management System</title>
<%= stylesheet_link_tag 'bootstrap/bootstrap.min.css' %>
<%= javascript_include_tag 'bootstrap/jquery-1.11.1.min.js' %>
<%= javascript_include_tag 'bootstrap/bootstrap.min.js' %>

</head>

<body>
<nav class="navbar navbar-inverse">

<div class='container-fluid'>
<div class='navbar-header' >
	
		<a class="navbar-brand" href="#" >Invoice System</a>
	</div> 
	<ul class="nav navbar-nav navbar-right">
	<li><%= link_to "Home",root_path %></li>
  <% if current_user %>
    <li><%= link_to "Logout", logout_path %></li>
  <% else %>
    <li><%= link_to "Register", new_user_path %></li>
    <li><%= link_to "Login", login_path %></li>
    </ul>
  <% end %>
  </div>
  
</div>
</nav>
<div class ='container'>
<div>
  <%= render 'layouts/nav' %> 
</div>
<% flash.each do |key, value| %>
      <div class="flash <%= key %>">
       <div> <%= value %></div>
      </div>
<% end %>
<div><%= yield %></div>
</div>
</body>
</html> 